<div style="float: left;">
    <img src="%{$tweet['icon']}" alt="icon" />
</div>
<div class="hitorigoto_left">
    <div class="hitorigoto_kuchi_t"></div>
    <img src="/diarysys5/img/tip.gif" />
    <div class="hitorigoto_kuchi_b"></div>
</div>
<div class="hitorigoto_right">
    <p>%{$tweet['text']}</p>
</div>
<div class="clearfix">
    <div class="hitorigoto_date">
        %{$tweet['created_at']} from <a href="%{$tweet['link']}">Twitter</a>
    </div>
</div>
