<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8"/>
        <link type="text/css" rel="stylesheet" href="/diarysys5/css/diarysys.css" />
        <script type="text/javascript" src="/diarysys5/js/lib/mix.js"></script>
        <script type="text/javascript" src="/diarysys5/js/lib/mix.modules.js"></script>
        <script type="text/javascript" src="/diarysys5/js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="/diarysys5/js/diarysys.modules.js"></script>
        <script type="text/javascript" src="/diarysys5/js/diarysys.js"></script>
        <title>%{$title}</title>
    </head>
    <body>
        <div id="amazon_container">
            <h3>Amazon商品検索</h3>
            <div id="amazon_item_container">
                <form method="get">
                    <input type="text" id="item_keyword"/>
                    <input type="button" id="search_item" value="検索"/>
                </form>
            </div>
            <div id="item_container"></div>
        </div>
        <script type="text/javascript">
            amazonItemList();
        </script>
    </body>
</html>
