<form action="/diarysys5" method="post" style="display: none;">
	<input type="hidden" name="entry_id" id="entry_id"/>
	<input type="submit" id="entry_submit"/>
</form>
<table id="entry_list" class="tablesorter">
    <thead>
        <tr>
            <th>日付</th>
            <th>タイトル</th>
            <th>タグ</th>
            <th>削除</th>
            <th>編集</th>
        </tr>
    </thead>
    <tbody>
        !{entry_list($entry)}
    </tbody>
</table>
<script type="text/javascript">
	entryList();
</script>
