<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8"/>
        <link type="text/css" rel="stylesheet" href="/diarysys5/css/diarysys.css" />
        <script type="text/javascript" src="/diarysys5/js/lib/mix.js"></script>
        <script type="text/javascript" src="/diarysys5/js/lib/mix.modules.js"></script>
        <script type="text/javascript" src="/diarysys5/js/diarysys.modules.js"></script>
        <script type="text/javascript" src="/diarysys5/js/diarysys.js"></script>
        <title>%{$title}</title>
    </head>
    <body>
        <% $this->render($template, $content) %>
    </body>
</html>