<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>jquery mobile test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/diarysys5/css/lib/jquery.mobile-1.0.min.css"/>
        <script src="/diarysys5/js/lib/jquery-1.7.1.min.js"></script>
        <script src="/diarysys5/js/lib/jquery.mobile-1.0.min.js"></script>
    </head>
    <body>
        <% $this->render($template, $content) %>
    </body>
</html>