<div id="title_container">
    <p id="site_title">%{$site_title}</p>
    <p id="site_summary">%{$site_summary}</p>
</div>
<div id="login_container">
    <div id="login">
        %{$user_id} | 
        <a href="/diarysys5/logout">ログアウト</a>
    </div>
</div>
<div class="clearfix"></div>
<!-- link -->
<div id="link_container">
    <ul class="header">
        <li><a href="#">タイムライン</a></li>
        <li><a href="/diarysys5/">日記</a></li>
        <li class="selected"><a href="/diarysys5/manage">管理画面</a></li>
        <li><a href="#">リンク</a></li>
    </ul>
    <ul class="sub_header">
        <li><a href="/diarysys5/manage">エントリ一覧</a></li>
        <li><a href="/diarysys5/entry_register">エントリ登録</a></li>
        <li><a href="/diarysys5/tag_register">タグ登録</a></li>
        <li><a href="/diarysys5/images">登録画像一覧</a></li>
    </ul>
</div>
