<section id="page1" data-role="page">
    <header data-role="header">
        <h1>jQuery Mobile</h1>
    </header>
    <div id="contents">
        <p>はじめてのぺーじんこ</p>
        <p><a href="#page2">2ページ目</a></p>
    </div>
    <footer data-role="footer">
        <h1>おらいりー</h1>
    </footer>
</section>
<section id="page2" data-role="page" data-add-back-btn="true">
    <header data-role="header">
        <h1>Yahoo!</h1>
    </header>
    <div id="contents">
        <p><a href="http://www.yahoo.co.jp">外部</a></p>
        <p><a href="#page1">1ページ目</a></p>
    </div>
    <footer data-role="footer">
        <h1>おらいりー</h1>
    </footer>
</section>